---
name: examples

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  typecheck-examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - name: Install example dependencies
        run: cd examples && npm install

      - name: Type-check examples
        run: cd examples && npx tsc --noEmit
